<h1>Message</h1>
<!-- <app-rooms></app-rooms>

<app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is the from ng-content</h1>
</app-container> -->

<!-- <a routerLink="'rooms'">Rooms</a>
<a routerLink="'employee'">Employee</a>
<a routerLink="'container'">Container</a> -->
<app-app-nav></app-app-nav>
<!-- <router-outlet></router-outlet> -->

<!-- <div #name></div> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'Admin'">
    <h2>Admin</h2>
    <app-rooms></app-rooms>
  </div>
  <div *ngSwitchCase="'Customer'">
    <h2>Customer</h2>
  </div>
  <div *ngSwitchDefault>
    <h2>Default</h2>
  </div>
</div> -->

<!-- <div>
  <ng-template #loading></ng-template>
</div> -->