<form [formGroup]="bookingForm" class="booking-form">
    <mat-form-field appearance="outline">
      <mat-label>Room ID</mat-label>
      <input matInput formControlName="roomId">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="guestEmail">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  
    <div class="date-row">
      <mat-form-field appearance="outline">
        <mat-label>Check-in Date</mat-label>
        <input matInput [matDatepicker]="checkinPicker" formControlName="checkinDate">
        <mat-datepicker-toggle matSuffix [for]="checkinPicker"></mat-datepicker-toggle>
        <mat-datepicker #checkinPicker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Check-out Date</mat-label>
        <input matInput [matDatepicker]="checkoutPicker" formControlName="checkoutDate">
        <mat-datepicker-toggle matSuffix [for]="checkoutPicker"></mat-datepicker-toggle>
        <mat-datepicker #checkoutPicker></mat-datepicker>
      </mat-form-field>
    </div>
  
    <mat-form-field appearance="outline">
      <mat-label>Booking Status</mat-label>
      <mat-select formControlName="bookingStatus">
        <mat-option value="Confirmed">Confirmed</mat-option>
        <mat-option value="Pending">Pending</mat-option>
        <mat-option value="Cancelled">Cancelled</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Booking Amount</mat-label>
      <input matInput type="number" formControlName="bookingAmount">
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Booking Date</mat-label>
      <input matInput [matDatepicker]="bookingPicker" formControlName="bookingDate">
      <mat-datepicker-toggle matSuffix [for]="bookingPicker"></mat-datepicker-toggle>
      <mat-datepicker #bookingPicker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input matInput type="tel" formControlName="mobileNumber">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Guest Name</mat-label>
      <input matInput formControlName="guestName">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput formControlName="guestAddress" rows="3"></textarea>
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>
  
    <div class="location-row">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="guestCity">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input matInput formControlName="guestState">
      </mat-form-field>
    </div>
  
    <div class="location-row">
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput formControlName="guestCountry">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput formControlName="guestZipCode">
      </mat-form-field>
    </div>
  
    <mat-form-field appearance="outline">
      <mat-label>Number of Guests</mat-label>
      <input matInput type="number" formControlName="guestCount">
      <mat-icon matSuffix>group</mat-icon>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="bookingForm.invalid" (click)="bookRoom()">
      Submit Booking
    </button>
  </form>
  
  {{bookingForm.value | json}}
  